{% extends "layouts/base.html" %} {% block title %} Produtos {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}
<div class="row">
    <div class="col-md-5">
        {% include "layouts/_messages.html" %} {% if updatebrand %}
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Alterar Marca</h4>
            </div>
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" name="brand" class="form-control" value="{{updatebrand.name}}" />
                            </div>
                        </div>
                    </div>

                    <button type="submit" name="brand" class="btn btn-primary pull-left">
                        Alterar
                    </button>

                    <button type="button" onclick="location.href='{{url_for('brands')}}'" name="category"
                        class="btn btn-danger pull-left">
                        CAncelar
                    </button>

                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
        {% else %}
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Alterar Categoria</h4>
            </div>
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" name="category" class="form-control" value="{{updatecat.name}}" />
                            </div>
                        </div>
                    </div>

                    <button type="submit" name="category" class="btn btn-primary pull-left">
                        Alterar
                    </button>
                    <button type="button" onclick="location.href='{{url_for('category')}}'" name="category"
                        class="btn btn-danger pull-left">
                        Cancelar
                    </button>
                    <div class="clearfix"></div>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}