<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>PD</title>
</head>

<body>

    <div class="row">
        <div class="col-md-12 ">
            <div class="card">
                <div class="card-header card-header-warning">
                    <h4 class="card-title">Carrinho</h4>
                </div>
                <div class="card-body table-responsive">
                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="card-title">
                                Fatura: {{orders.invoice}}
                            </h5>
                            <h5 class="card-title">
                                Status: {{orders.status}}
                            </h5>
                            <h5 class="card-title">
                                Cliente nome: {{customer.name}}
                            </h5>
                            <h5 class="card-title">
                                Cliente email: {{customer.email}}
                            </h5>

                        </div>
                    </div>
                    <br>
                    <table class="table table-hover">
                        <thead class="text-warning">
                            <th>%</th>
                            <th>Nome</th>
                            <th>Preço</th>
                            <th>Quantidade</th>
                            <th>Desconto</th>
                            <th>Subtotal</th>
                        </thead>
                        <tbody>
                            {% for key, product in orders.orders.items() %}
                            {% set discount = "%0.2f"|format((product.discount/100)*product.price|float) %}
                            <tr>
                                <th>{{loop.index}}</th>
                                <th>{{product.name }}</th>
                                <th>R$ {{product.price}}</th>
                                <form role="form" action="" method="post">
                                    <th>
                                        {{product.quantity}}
                                    </th>
                                    {% if product.discount %}
                                    <th>{{ product.discount }}% &nbsp; é &nbsp; {{discount}}</th>
                                    {% else %}
                                    <th></th>
                                    {% endif %}

                                    {% set subtotal = product.quantity|int * product.price|float %}
                                    <th>{{"%0.2f"|format(subtotal|float - discount|float)}}</th>
                                </form>
                            </tr>
                            {% endfor %}
                            <table class="table table-sm">
                                <tr>
                                    <td width="10%"></td>
                                    <td>
                                        <h4>Taxa: R$ {{tax}}</h4>
                                    </td>
                                    <td>
                                        <h4>Total Grade: R$ {{grandTotal}}</h4>
                                    </td>

                                </tr>
                            </table>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Specific Page JS goes HERE  -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>